{% extends "base.html" %}

{% block body %}


<br>
<div class="container">
    <div class="row">
        <div class="col">
            <h5> თიბისი ბანკი - TBC Bank </h5>

            <a href="https://tbceducation.ge"> <img
                    src="/static/TBC_Bank_Georgia_logo.jpg" width="200px" class="rounded"> </a>
        </div>
        <br></br>
        <div class="col m">
            <h5> ჯეოლაბი - Geolab </h5>
            <img src="/static/GeoLab-Logo-GEO.png"
                 width="180px" class="rounded">
        </div>


    </div>
</div>

{% endblock %}
